.main{
    background-image: url(images/golf-bag-blur.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.header{
    display: flex;
    margin: auto;
    height: 100px;
    align-items: center;
    border-radius: 15px;
    box-shadow: 7px 7px 5px #0f0f0e;
    background-image: url(images/sunset-golf.png);
    /* Make background a single image spanning the whole header */
    background-repeat: no-repeat;
    background-position-y: 70%;
    background-size: 100% auto;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.top-msg{
    align-items: center;
}

.sports_golf{
    display: flex;
    justify-content: flex-end;
}

.google-sans-header-font {
  font-family: "Google Sans", sans-serif;
  font-size: 40px;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings:
    "GRAD" 0;
}

.google-sans-intro-text {
  font-family: "Google Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  margin-top: 6vh;
  margin-bottom: 6vh;
  text-align: center;
  
  font-variation-settings:
    "GRAD" 0;

}

.location-entry{
    display: flex;
    width: 50%;
    margin-top: 6vh;
    align-items: center;
    margin: auto;
    justify-content: center;
}
.fa-map-marker:hover{
    transition: 200ms;
    transform: scale(1.2);
}

.form-label{
    margin-left: 20px;
}

.results-box {
    display: block;
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    padding: 15px;
}

#map {
    /* Don't use display: none; it can break the API initialization */
    width: 0px;
    height: 0px;
    position: absolute;
    left: -9999px; /* Pushes it way off the screen */
    visibility: hidden;
}

#course-list h3 {
    color: #1a1a1a;
}

.card {
    background: white !important;
    margin-bottom: 10px;
    color: black !important;
}